@charset "utf-8";
/* CSS Document */

html {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	/*(background-position: 15% 70%;*/
	background-image: url("images/erda-estremera-unsplash.jpg");
	background-size: cover;
	height: 100%;
	color: darkslategray;
}

div #content {
	text-align: center;
	padding-top: 5%;
}

img.logo {
	width: 200px;
}

.navbar {
	padding: 2px 0px;
}

.navbar navbar-expand-lg navbar navbar-light sticky-top {
	padding: 0px;
}

a.colorphone:hover {
	text-decoration: none;
	color: darkblue;
}

a.colormail:hover {
	text-decoration: none;
	color: darkblue;
}

img.card-img {
	width: 85%;	
	margin: 2% 2% 0 2%;
	box-shadow: 9px 7px 18px 0px;
    
}
img.card-img.two {
	margin-bottom: 2%;
	box-shadow: 9px 7px 18px 0px;
}

.social {
	margin-left: 10px;
}

.col-md-7 .col-lg-6 {
	text-align: center;
}

.my-4 {
	color: black;
}

strong.phone {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
}

strong.mail {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
}

.nav-link.contact {
	margin-right: 50px;
}

.navbar-light .navbar-nav .nav-link {
	color: darkslategray;
	font-weight: 700;
}

.bottom-p {
	padding: 5px;
}

.container {
	width: 100%;
}

div.jumbotron {
	padding: 5px;
	background-color: #048fc9;
	border-radius: 0px 0px 20px 20px
}

div.jumbotron.gallery {
	border-radius: 15px 2px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

a.btn.btn-outline-primary {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
	width: 100%;
}

.lead {
	margin-bottom: 2px;
}

h1.display-4 {
	margin-bottom: 2px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
}

.card-img-top {
	height: 60%;
}

.colormail {
	color: white;
}

.colorphone {
	color: white;
}

div#content {
	padding-top: 5px
}

h1.display-4 {
	font-size: 25px;
}

h1.sc {
	text-align: center;
}

h5.card-title {
	text-align: center;
}

img.card-img.two.after{
	display: none;
}

#footer {
	width: 100%;
    background-color: #048fc9;
    padding: .5em;
    color: #fff;
    bottom: 0;
	border-radius: 10px 10px 0px 0px;
	margin-bottom: auto;
}

#footer p.left {
    float:left;
	margin-bottom: 0px;
}

#footer p.right {
    float:right;
	margin-bottom: 0px;
}

img.facebookbottom {
	width: 20px;
	height: 20px;
	border-radius: 30px;
	margin-bottom: 5px;
}

img.instagrambottom {
	width: 20px;
	height: 20px;
	border-radius: 15px 15px 15px 15px;
	margin-bottom: 5px;
}

@media only screen and (max-width: 768px){

	div.card-body {
	padding: 10px;
	width: 660px;
   }
   img.card-img {
    width: 660px;
}
img.card-img.two.after{
	display: inline;
	box-shadow: none;
}
img.card-img.two {
	display: none;
	width: 100%;
	box-shadow: 2px 0 5px 3px;
}
}

@media only screen and (max-width: 425px){

	#footer p.right {
		float: none;
		text-align: left;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	#footer p.left {
		float: none;
		text-align: left;
		margin-bottom: 0px;	
	}
	#footer {
		height: 100px;
		position: inherit;
	}
	strong.colorphone {
		page-break-before: left;
	}
	
	div#footer {
		height: 90px;
	}
	ul {
		list-style-type: none;
		padding: 0px;
	}
		p.lead {
		width: 340px;
	}
	
	div.jumbotron.gallery {
	border-radius: 15px 2px;
	width: 100%;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
	body {
		background-position: none;
	}
	img.card-img{
	width: inherit;
	padding: 10px;
	margin: 0;
}
	div.card-body {
    width: fit-content;
    padding: 10px;
    margin: auto;
}
img.card-img.two {
	display: none;
}
img.card-img.two.after{
	display: inline;
	box-shadow: none;
	width: 100%;
	box-shadow: 2px 0 5px 3px;
}
}
