@charset "utf-8";
/* CSS Document */

html {
	height: 100%;
}

body {
	font-family: 'Quicksand', sans-serif;
	/*(background-position: 15% 70%;*/
	background-image: url("images/gardenboxmain.jpg");
	background-size: cover;
	height: 100%;
	color: darkslategray;
}

div #content {
	text-align: center;
	padding-top: 5%;
}

img.logo {
	width: 200px;
}

.navbar {
	padding: 2px 0px;
}

.navbar navbar-expand-lg navbar navbar-light sticky-top {
	padding: 0px;
}

a.colorphone:hover {
	text-decoration: none;
	color: darkblue;
}

a.colormail:hover {
	text-decoration: none;
	color: darkblue;
}

img.card-img {
    margin: 2% 2% 0 2%;
    box-shadow: -9px 7px 18px 0px;
}
img.card-img.two {
	margin-bottom: 2%;
}

div.card {
    margin-left: 0px;
    margin-right: 0px;
	border-radius: 20px 20px 0px 0px;
}

div.card-body {
	padding: 10%;
    border-radius: 20px 20px 0px 0px;
	margin-top: 0px
}

.social {
	margin-left: 10px;
}

.my-4 {
	color: black;
}

strong.phone {
	font-family: 'PT Serif', serif;
	letter-spacing: 3px;
}

strong.mail {
	font-family: 'PT Serif', serif;
	letter-spacing: 3px;
}

.nav-link.contact {
	margin-right: 50px;
}

.navbar-light .navbar-nav .nav-link {
	color: darkslategray;
	font-weight: 700;
}

.bottom-p {
	padding: 5px;
}

container {
	width: 100%;
}

div.jumbotron.jumbotron-fluid {
	
	background-color: #06a9ee;
}

div.jumbotron {
	padding: 1px;
	
	border-radius: 20px 20px 0px 0px
}

div.jumbotron.gallery.one {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -1px;
	width: 50%;
	height: 45px;
	border-radius: 20px 20px 0px 0px;
	padding: 2px;
}

a.btn.btn-outline-primary {
	font-family: 'PT Serif', serif;
	letter-spacing: 3px;
	width: 100%;
}

.lead {
	margin-bottom: 2px;
}

h1.display-4 {
	margin-bottom: 2px;
	font-family: 'PT Serif', serif;
	letter-spacing: 3px;
}

div.card.mb-3{
	margin: 1rem;
	background-color: #e9ecef;
}

hr {
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px black;
}

div.card {
	margin-right: 0px;
	margin-left: 0px;
}

p.card-text.one {
	text-shadow: 1px 1px 10px white;
}

.card-img-top {
	height: 60%;
}

.colormail {
	color: white;
}

.colorphone {
	color: white;
}

div#content {
	padding-top: 5px
}

h1.display-4 {
	font-size: 25px;
}

b {
	color: black;
}

h1.sc {
	text-align: center;
}

h5.card-title {
	text-align: center;
	font-size: 30px;
	color: darkslategray;
	font-weight: bolder;
}

p.card-text.one {
	font-size: 50px;
	font-family: 'Big Shoulders Text', cursive;
}

.card-text.one {
	text-align: center;
}

#footer {
	position: absolute;
	width: 100%;
    background-color: #06a9ee;
    padding: .5em;
    color: #fff;
    bottom: 0;
	border-radius: 10px 10px 0px 0px;
	margin-bottom: auto;
}

#footer p.left {
    float:left;
	margin-bottom: 0px;
}

#footer p.right {
    float:right;
	margin-bottom: 0px;
}

img.facebookbottom {
	width: 20px;
	height: 20px;
	border-radius: 30px;
	margin-bottom: 5px;
}

img.instagrambottom {
	width: 20px;
	height: 20px;
	border-radius: 15px 15px 15px 15px;
	margin-bottom: 5px;
}

@media only screen and (max-width: 768px){

	h5.card-title {
		font-size: 25px;
	}
	
	p.card-text.one {
		font-size: 25px;
	}
	div.card.mb-3 {
		margin: 5px 5px 1px 5px;
	}
	div.jumbotron.gallery {
		border-radius: 20px 20px 0px 0px;
	}
}

@media only screen and (max-width: 425px){

	#footer p.right {
		float: none;
		text-align: left;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	#footer p.left {
		float: none;
		text-align: left;
		margin-bottom: 0px;	
	}
	div#footer {
		height: 100px;
		position: inherit;
	}
	strong.colorphone {
		page-break-before: left;
	}
	
	#footer {
		height: 90px;
	}
	ul {
		list-style-type: none;
		padding: 0px;
	}
	p.lead {
		width: 310px;
	}
	div.jumbotron {
		background-color: #06a9ee;
	}
	div.jumbotron.gallery {
	background-color: #06a9ee;
	border-radius: 15px 2px;
	width: 100%;
}
	body {
		background-position: none;
	}
	div.card-body {
    padding: 10px;
}
	
	hr.first{
		margin-top: 5px;
	}
	
	hr{
		margin-top: 5px;
	}
	
	p.card-text.one {
	text-shadow: 1px 1px 1px white;
}
	
	div.card-body {
	box-shadow: none;
	
}
	.container {
		width: 75%;
	}
	
	h1.display-4 {
		width: 330px;
	}
}